In [281]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from numpy import random

In [282]:
df = pd.read_parquet(r'C:\shared_folder\github_projects\data\tmp.parquet')

In [283]:
df

,device_key,unix_time,min_duration_seconds,observation_count,latitude,longitude,zipcode_5,state_abbr,cluster_type2,datetime,str_time,end_time,datetime_str_time,datetime_end_time
0,1188,1546378629,0,1,41.854000,-87.651000,60608,IL,v,2019-01-01 21:37:09+00:00,1546378629,1546378629,2019-01-01 21:37:09+00:00,2019-01-01 21:37:09+00:00
1,2048,1546353483,0,1,41.840390,-87.783210,60402,IL,v,2019-01-01 14:38:03+00:00,1546353483,1546353483,2019-01-01 14:38:03+00:00,2019-01-01 14:38:03+00:00
2,2048,1546538227,0,1,41.849730,-87.728900,60623,IL,v,2019-01-03 17:57:07+00:00,1546538227,1546538227,2019-01-03 17:57:07+00:00,2019-01-03 17:57:07+00:00
3,2362,1546549696,0,1,42.247950,-88.000360,60060,IL,v,2019-01-03 21:08:16+00:00,1546549696,1546549696,2019-01-03 21:08:16+00:00,2019-01-03 21:08:16+00:00
4,2362,1546549697,61,3,42.247810,-88.000450,60060,IL,t1,2019-01-03 21:08:17+00:00,1546549697,1546549758,2019-01-03 21:08:17+00:00,2019-01-03 21:09:18+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64275,45822518,1546566702,451,3,42.378600,-87.938230,60031,IL,t2,2019-01-04 01:51:42+00:00,1546566702,1546567153,2019-01-04 01:51:42+00:00,2019-01-04 01:59:13+00:00
64276,45822518,1546567003,6068,8,42.378633,-87.938868,60031,IL,v,2019-01-04 01:56:43+00:00,1546567003,1546573071,2019-01-04 01:56:43+00:00,2019-01-04 03:37:51+00:00
64277,45822518,1546574048,4900,5,42.382926,-87.980864,60031,IL,v,2019-01-04 03:54:08+00:00,1546574048,1546578948,2019-01-04 03:54:08+00:00,2019-01-04 05:15:48+00:00
64278,45822518,1546582682,8195,5,42.382920,-87.980898,60031,IL,v,2019-01-04 06:18:02+00:00,1546582682,1546590877,2019-01-04 06:18:02+00:00,2019-01-04 08:34:37+00:00
64279,45822518,1546595857,2356,3,42.382933,-87.980940,60031,IL,v,2019-01-04 09:57:37+00:00,1546595857,1546598213,2019-01-04 09:57:37+00:00,2019-01-04 10:36:53+00:00

In [284]:
df = df.drop_duplicates(subset=['device_key','longitude','latitude'])
df

,device_key,unix_time,min_duration_seconds,observation_count,latitude,longitude,zipcode_5,state_abbr,cluster_type2,datetime,str_time,end_time,datetime_str_time,datetime_end_time
0,1188,1546378629,0,1,41.854000,-87.651000,60608,IL,v,2019-01-01 21:37:09+00:00,1546378629,1546378629,2019-01-01 21:37:09+00:00,2019-01-01 21:37:09+00:00
1,2048,1546353483,0,1,41.840390,-87.783210,60402,IL,v,2019-01-01 14:38:03+00:00,1546353483,1546353483,2019-01-01 14:38:03+00:00,2019-01-01 14:38:03+00:00
2,2048,1546538227,0,1,41.849730,-87.728900,60623,IL,v,2019-01-03 17:57:07+00:00,1546538227,1546538227,2019-01-03 17:57:07+00:00,2019-01-03 17:57:07+00:00
3,2362,1546549696,0,1,42.247950,-88.000360,60060,IL,v,2019-01-03 21:08:16+00:00,1546549696,1546549696,2019-01-03 21:08:16+00:00,2019-01-03 21:08:16+00:00
4,2362,1546549697,61,3,42.247810,-88.000450,60060,IL,t1,2019-01-03 21:08:17+00:00,1546549697,1546549758,2019-01-03 21:08:17+00:00,2019-01-03 21:09:18+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64275,45822518,1546566702,451,3,42.378600,-87.938230,60031,IL,t2,2019-01-04 01:51:42+00:00,1546566702,1546567153,2019-01-04 01:51:42+00:00,2019-01-04 01:59:13+00:00
64276,45822518,1546567003,6068,8,42.378633,-87.938868,60031,IL,v,2019-01-04 01:56:43+00:00,1546567003,1546573071,2019-01-04 01:56:43+00:00,2019-01-04 03:37:51+00:00
64277,45822518,1546574048,4900,5,42.382926,-87.980864,60031,IL,v,2019-01-04 03:54:08+00:00,1546574048,1546578948,2019-01-04 03:54:08+00:00,2019-01-04 05:15:48+00:00
64278,45822518,1546582682,8195,5,42.382920,-87.980898,60031,IL,v,2019-01-04 06:18:02+00:00,1546582682,1546590877,2019-01-04 06:18:02+00:00,2019-01-04 08:34:37+00:00
64279,45822518,1546595857,2356,3,42.382933,-87.980940,60031,IL,v,2019-01-04 09:57:37+00:00,1546595857,1546598213,2019-01-04 09:57:37+00:00,2019-01-04 10:36:53+00:00

In [285]:
ndf = df.head(1000)

In [375]:
df = pd.DataFrame( columns=['timestamp','device_key','latitude','longitude','test'])
n = 1607897552
for i in range(5): 
    key=random.randint(100,999)
    lat=random.uniform(40,70)
    long=random.uniform(-80,-100)
    for j in range(random.randint(2,6)):
        n += 1
        df = df.append({
                    'timestamp': n,
                    'device_key':str(key),
                    'latitude':random.uniform(40,70)  ,
                    'longitude':random.uniform(-80,-100),
                    'test':False},
                    ignore_index=True)   
keys = df['device_key'].values()
for index, row in df.iterrows():
        df = df.append({
                'timestamp': n,
                'device_key':str(key),
                'latitude':random.uniform(40,70)  ,
                'longitude':random.uniform(-80,-100),
                'test':False},
                ignore_index=True) 
df

TypeError: 'numpy.ndarray' object is not callable

In [352]:
ndf = df
coords = ndf.as_matrix(columns=['latitude', 'longitude'])

c:\users\aishw\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [353]:
coords

array([[ 62.17596654, -87.57796062],
       [ 66.04471444, -89.23628191],
       [ 42.99701294, -95.19544537],
       [ 51.29680016, -99.29052141],
       [ 61.57902398, -87.96964512],
       [ 56.62103207, -92.75838463],
       [ 54.57193976, -95.60778025],
       [ 45.34868665, -81.2103152 ],
       [ 42.82851559, -90.67483564],
       [ 54.51827197, -89.93955116],
       [ 43.81855765, -89.31845927],
       [ 55.53834453, -92.73668194],
       [ 62.30211864, -95.03788294],
       [ 69.8917939 , -84.76327628],
       [ 67.44535085, -97.50012846],
       [ 66.52414362, -97.52747794],
       [ 46.65552158, -89.5107191 ],
       [ 49.86091229, -83.76949612],
       [ 62.50191371, -89.7544465 ],
       [ 46.24022587, -82.01199855],
       [ 55.60887624, -85.75422468],
       [ 64.55633767, -95.35659353],
       [ 47.09251539, -83.56517029],
       [ 53.13442378, -80.51779477],
       [ 56.05865221, -96.55874064],
       [ 57.13989572, -99.20268381],
       [ 61.83977965, -90.71914593],
       [ 49.3591027 , -80.50665771],
       [ 68.38640885, -93.18168535],
       [ 56.92954659, -91.73255875],
       [ 64.66032741, -93.63225895],
       [ 60.33316728, -90.57985159],
       [ 67.19145396, -89.05925381],
       [ 51.46432897, -90.5094325 ],
       [ 58.77161125, -93.25383994],
       [ 51.75237582, -81.45987575],
       [ 41.64977648, -80.91723687],
       [ 62.84726953, -89.96063054],
       [ 50.80006522, -87.40169503],
       [ 45.55543651, -85.53221915],
       [ 51.87197953, -89.85336005],
       [ 43.35545435, -87.54949607],
       [ 40.86921095, -83.62532557],
       [ 40.41857697, -85.55321612],
       [ 44.728374  , -93.70968703],
       [ 70.03494788, -87.27957372],
       [ 52.29331721, -85.79912766],
       [ 57.223334  , -91.82113174],
       [ 55.09988453, -87.96276089],
       [ 41.7874988 , -92.17598454],
       [ 48.04013687, -80.33740188],
       [ 51.51301202, -96.8993633 ],
       [ 59.07294495, -96.64007636],
       [ 45.3700123 , -84.87093864],
       [ 64.21815746, -93.82600856],
       [ 59.83037796, -95.61199074],
       [ 69.6677026 , -95.78142134],
       [ 63.69445009, -91.05230356],
       [ 70.30092784, -88.1686361 ],
       [ 45.9355339 , -84.82053651],
       [ 54.32789325, -98.12555035],
       [ 53.63456535, -80.06239703],
       [ 69.25574998, -89.59151389],
       [ 58.78896456, -82.03046295],
       [ 55.29471267, -85.94191687],
       [ 55.46005311, -87.96038947],
       [ 57.41331468, -96.37425505],
       [ 49.44576829, -97.5286802 ],
       [ 49.62717625, -93.80483634],
       [ 51.71306709, -89.59788826],
       [ 64.81600669, -84.38394296],
       [ 63.27862695, -80.65715885],
       [ 54.24324344, -92.91849291],
       [ 51.08248669, -83.99387573],
       [ 55.07223694, -87.3167469 ],
       [ 51.42337634, -82.51707239],
       [ 41.99434261, -92.78200661],
       [ 47.58270201, -96.89421188],
       [ 67.4555558 , -95.69744589],
       [ 44.2178621 , -86.33906434]])

In [354]:
kms_per_radian = 6371.0088
contact_radius = 0.001
min_samples = 3
epsilon = contact_radius / kms_per_radian
db = DBSCAN(eps=epsilon, min_samples=min_samples, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
cluster_labels = db.labels_
num_clusters = len(set(cluster_labels))
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])
print('Number of clusters: {}'.format(num_clusters))

Number of clusters: 1

In [355]:
clusters

0    []
dtype: object

In [247]:
def get_centermost_point(cluster):
    centermost_point = None
    if len(cluster) != 0:
        centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
        centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    return tuple(centermost_point)

In [248]:
clusters = clusters[clusters.str.len() != 0]

In [249]:
print("Ignored points : " ,len(coords) - clusters.map(len).sum())

Ignored points :  978

In [250]:
centermost_points = clusters.map(get_centermost_point)
centermost_points

0    (41.92949333333333, -87.79946)
1            (41.929465, -87.79945)
dtype: object

In [251]:
centermost_points.dropna()

0    (41.92949333333333, -87.79946)
1            (41.929465, -87.79945)
dtype: object

In [241]:
ndf['device_key'].unique()

array([ 1188,  2048,  2362,  3889,  4348,  4738,  4960,  5256,  6234,
        7055,  7520,  7678,  9648, 11428, 13445, 13603, 14745, 14896,
       15989, 16239, 16665, 17481, 18380, 19923, 20059, 20870, 21558,
       22273, 23560, 24006, 25277, 26572, 27728, 28318, 28749, 30086,
       32554, 33340, 35209, 35580, 35646, 41001, 43189, 44152, 44620,
       45283, 45685, 45884, 47093], dtype=int64)

In [242]:
nodes = ndf['device_key'].unique()
len(nodes)

49

In [243]:
import networkx as nx

In [244]:
G = nx.Graph()

In [221]:
G.add_nodes_from(nodes)

In [ ]:
for i in centermost_points: